<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/node_modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/static/css/style.css">
    
    <title>Group Formation App</title>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-togller-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="#">Group Formation App</a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span>Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="./aboutus.html"><span class="fa fa-info fa-lg"></span>About</a></li>
                    <li class="nav-item"><a class="nav-link" href="./student.html"><span class="fa fa-list fa-lg"></span>Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="./contactus.html"><span class="fa fa-address-card fa-lg"></span>Contact</a></li>
                </ul>
                <span class="navbar-text">
                        <a data-toggle="modal" data-target="#loginModal">
                            <span class="fa fa-sign-in"></span> Login
                        </a>
                </span>
            </div>

        </div>
    </nav>
    <div id="loginModal" class="modal fade" role="dialog">
        <div class= "modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="close btn btn-light" data-dismiss="modal">
                            &times;
                    </button>
                </div>
                <div class="modal-body">
                    <form action="./aboutus.html" method="get" >
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                    <label class="sr-only" for="exampleInputEmail3">NetID</label>
                                    <input type="text" class="form-control form-control-sm mr-1" id="exampleInputEmail3" placeholder="NetID">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputPassword3">Password</label>
                                <input type="password" class="form-control form-control-sm mr-1" id="exampleInputPassword3" placeholder="Password">
                            </div>
                            <div class="col-sm-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1" >Sign in</button>        
                        </div>
                    </form > 
                </div>
            </div>
        </div>
    </div>
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header align-items-center">
                <div class="col-12 col-sm-6">
                    <h1>Group Formation App</h1>
                    <p>An app aims to maximize student's satisfaction in group work.</p>
                </div>
                <div class="col-12 col-sm">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-12 col-sm-4 col-md-3">
                <h3>About us</h3>
            </div>
            <div class="col-12 col-sm col-md">
                <h2></h2>
                <p>...</p>
            </div>
        </div>


    </div>

    <footer class="footer">
        <div class="container">
            <div class="row row-content">
                <div class="col-4 col-sm-2">             
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="./aboutus.html">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="./contactus.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              
		           </address>
                </div>
                
                <div class="col-12 col-sm-4">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2018 Ristorante Con Fusion</p>
                </div>
        </div>
        </div>
    </footer>


    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="static/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="static/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>