<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>

<body>

    <form method="POST">
        number of students:<br>
        <input type="text" name="NumberOfStudents"><br>

        number of projects:<br>
        <input type="text" name="NumberOfProjects"><br>
        
        Minimum number of projects to be selected by each student:<br>
        <input type="text" name="MinimumNumberSelectedProjects"><br>

        Maximum number of students per each project:<br>
        <input type="text" name = MaximumNumberStudentsPerProject"><br>



        <br>

        <input type="submit" value="Submit">
    </form>

    
</body>
</html>