.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: rgb(223, 132, 112);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}


.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background:#E84A27 ;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;

}
body {
    padding: 50px 0px 0px 0px /* give to navbar */;
    z-index: 0;
}
.navbar-dark {
    background-color: #13294b;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid  #ddd;
    border-bottom: 1px solid #ddd;
    
}
.modal-header {
    background-color:#13294b;
    color:floralwhite;
    
}
.close{
    color:#fff;
    opacity:1;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
